{% extends 'flatpages/default.html' %}
{% load static %}

{% block content %}
<h1> Profile List</h1>
<br/>

{% if profiles %}
    {% for profile in profiles %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'images/default_profile_image.png' %}" class="img-fluid rounded-start" alt="Profile img"></img>

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'profile' profile.user.pk %}">@{{ profile.user.username|lower}}</a></h5>
        <p class="card-text">Name: {{ profile.user.username}}</p> <br/> <br/>
        <p class="card-text"><small class="text-body-secondary">Last Updated: {{ profile.date_modified}}</small></p>
      </div>
    </div>
  </div>
</div>
  {% endfor %}
{% endif %}

{% endblock content %}